<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>idid</string>
	<key>connections</key>
	<dict>
		<key>3FB52006-EE9A-4AA7-BF2C-A5270FBE1B62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D8D1A6F-B35D-4A1C-8B08-03DAA97F6F4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5D376D72-F191-42CC-8795-2A78C2CE25F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FB52006-EE9A-4AA7-BF2C-A5270FBE1B62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Wouter de Vos</string>
	<key>description</key>
	<string>Log stuff  to iDoneThis</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>iDid</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>idid</string>
				<key>subtext</key>
				<string>example: idid Some awesome stuff</string>
				<key>text</key>
				<string>iDid</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5D376D72-F191-42CC-8795-2A78C2CE25F3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>vendor/bin/idid '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3FB52006-EE9A-4AA7-BF2C-A5270FBE1B62</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Got it! Let's get some more done!</string>
				<key>title</key>
				<string>iDid</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2D8D1A6F-B35D-4A1C-8B08-03DAA97F6F4F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2D8D1A6F-B35D-4A1C-8B08-03DAA97F6F4F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3FB52006-EE9A-4AA7-BF2C-A5270FBE1B62</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5D376D72-F191-42CC-8795-2A78C2CE25F3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.springest.com</string>
</dict>
</plist>
